<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin rolling spider</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" href="/css/pureCss/pure-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/pureCss/base-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/pureCss/grids-responsive-min.css" charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
</head>
<body>

    <div class="">
        <form class="pure-form">
            <fieldset class="pure-group">
                <div>
                    <label for="username">usuario</label>
                    <input id="username" type="text" class="pure-input-1-3" placeholder="Usuario" />
                </div>
                <div>
                    <label for="password">clave</label>
                    <input id="password" type="password" class="pure-input-1-3" placeholder="Clave" />
                </div>
            </fieldset>

            <button type="submit" class="pure-button pure-input-1-3 pure-button-primary">Inicia sesión</button>
        </form>
    </div>

    <div>
        <div>
            usuarios creados
        </div>
    </div>
</body>
</html>
