<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Rolling spider</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css' />

        <link rel="stylesheet" href="/css/pureCss/pure-min.css" charset="utf-8" />
        <link rel="stylesheet" href="/css/pureCss/base-min.css" charset="utf-8" />
        <link rel="stylesheet" href="/css/pureCss/grids-responsive-min.css" charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/fontawesome/font-awesome.css" />

    </head>
    <body>
        {% if isLogged === false %}
        <div class="relative">
            <div class="pure-g login-container">
                <div id="login" class="pure-u-1">
                    <h2 class="text-center">¿Quiéres conectárte?</h2>
                     <div class="pure-form pure-g">
                         <div class="pure-u-sm-2-3 pure-u-1">
                            <input id="username" class="pure-input-1" type="text" value="" placeholder="Tú nombre" />
                        </div>
                        <div class="pure-u-sm-1-3 pure-u-1">
                            <button id="connect" class="pure-button pure-button-primary pure-input-1">Conectar</button>
                        </div>
                     </div>

                </div>
            </div>

            <div id="clientActions" class="display-none">
                <div class="pure-g">
                    <div id="options-container roboto" class="pure-u-1 pure-u-md-2-5"><h3>Acciones del drone</h3><div class="options-container-elements"></div></div>
                    <div id="queue-list" class="pure-u-1 pure-u-md-2-5 roboto"><h3>Cola de peticiones</h3><div class="list"></div></div>
                    <div id="clients" class="pure-u-1 pure-u-md-1-5 roboto"><h3>Clientes conectados</h3><h3 class="clients"></h3></div>
                </div>
            </div>
        </div>

        {% else %}
        <div id="clientActions">
            <div class="pure-g">
                <div id="options-container" class="pure-u-1 pure-u-md-2-5 roboto"><h3>Acciones del drone</h3><div class="options-container-elements"></div></div>
                <div id="queue-list" class="pure-u-1 pure-u-md-2-5 roboto"><h3>Cola de peticiones</h3><div class="list"></div></div>
                <div id="clients" class="pure-u-1 pure-u-md-1-5 roboto"><h3>Clientes conectados</h3><h3 class="clients"></h3></div>
            </div>
        </div>
        {% endif %}

        <footer title="Chris Enríquez">
            <a href="https://twitter.com/khrizenriquez">@khrizenriquez</a>
        </footer>

        <script>
            var localIp = "{{ localRoute }}";
        </script>

        <script src="/js/vendor/socket.io/socket.io-1.4.5.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
        <script src="/js/app.js"></script>
        
    </body>
</html>
