
#image-container {
    background-color: red;
    transition: all 0.2s ease;
}

#options-container {
    background-color: blue;
    transition: all 0.2s ease;
}
#control-buttons {
    display: none;
}

/*    Media queries*/
@media screen and (max-width: 768px) {
    #image-container {
        position: absolute;
        width: 100%;
    }
    #options-container {
        background-color: rgba(0, 0, 0, 0.0);
        position: absolute;
        text-align: right;
        transition: all 0.2s ease;
        width: 100%;
    }
    #control-buttons {
        display: block;
        text-align: center;
    }
    #control-buttons i {
        font-size: 2.5em;
    }
}
